<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-02-02T17:55:03.474073496"/>
	<meta name="changed" content="2018-02-02T18:04:20.706097136"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
	<p style="margin-bottom: 0in; line-height: 100%"><br/>
		Available (fairly reliable) product suppliers: <br />

		<%= link_to "California", dwp_weed_path %>
		<br />
		<%= link_to "Massachusetts", dwp_weed3_path %>
		<br />
		<%= link_to "Mexico", dwp_weed1_path %>
		<br />
		<%= link_to "Germany", dwp_weed2_path %>
		<br />
		<%= link_to "Holland", dwp_weed4_path %> <br />
		(<%= link_to "Message me privately", welcome_mailinglistdnp_path %>
		if you find something interesting)
		<br />
		<%= link_to "Or Click Here if you'd like to receive updates when the pages update", welcome_mailinglistdnp_path %>
		<br />
		<br />
		<br />
		<br />
		<br />
	</p>
	<h2>Official meeting notes</h2>


<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
	<p style="margin-bottom: 0in; line-height: 100%">Submit a topic</p>
	<input type='text' name='topic' /><br/>
  <input type='submit' value='submit.' />
</form>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
