<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2018-01-13T16:41:23.166162033"/>
	<meta name="created" content="00:00:00">
	<meta name="changed" content="2018-01-13T14:37:36.051786486">
	<meta name="created" content="2018-01-12T20:19:04.552831740">
	<meta name="changed" content="2018-01-12T21:53:55.747050964">
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h3.western { font-family: "Liberation Sans", sans-serif }
		h3.cjk { font-family: "Noto Sans CJK SC Regular" }
		h3.ctl { font-family: "FreeSans" }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<%= link_to "Current agenda and secretary's notes.", njmj_notes_path %><br /> (updated feb 19)

<br />
<br />
<h3>Pages made on Feb 21 </h3>

<%= link_to "Kelly's Oil Order.", njmj_kellykustom_path %><br />
The following sites are to help streamline forms, duties, and a general gist for Officials. <br />
<%= link_to "President's Duties.", njmjofficials_pres_path %><br />
<%= link_to "VP Duties.", njmjofficials_vp_path %><br />
<%= link_to "Treasurer's Duties.", njmjofficials_treasurer_path %><br />
<%= link_to "Secretary's Duties.", njmjofficials_secretary_path %><br />
<%= link_to "Parlimentarian Duties.", njmjofficials_parlimentarian_path %><br />
<%= link_to "Programming Duties.", njmjofficials_programming_path %><br />
<%= link_to "Recruiting and Retention Director Duties.", njmjofficials_recruit_retain_director_path %><br />
<%= link_to "Marketing and PR Duties.", njmjofficials_marketing_pr_path %><br />
<%= link_to "Community Services Director Duties.", njmjofficials_community_serv_dir_path %><br />
<%= link_to "Historian's Duties.", njmjofficials_historian_path %><br />
<br />
<%= link_to "Weed Supplies catalog and order form.", njmj_meetingnotes_path %> with meeting notes at the end.<br />

<h3>Pages made on Feb 16 </h3>
<%= link_to "Membership page.", njmj_membership_path %><br />
<%= link_to "production 1 notes for budder.", njmj_budderproductionnotes1_path %><br />
<%= link_to "Survey for consumers and product reviews.", njmj_survey_path %><br />
<%= link_to "Budder Order page.", njmj_budderorder_path %><br />



<h3 class="western">Contributors:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Vedabrat Anand
	Etwaru</p>
	<p style="margin-bottom: 0in; line-height: 100%">Kelly</p>
<p style="margin-bottom: 0in; line-height: 100%">Norma</p>
<p style="margin-bottom: 0in; line-height: 100%">Diana</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Proposed Funding
</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">$14k - $24k</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Jobs Volunteered for:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p>Programming</p>
<p>Pres</p>
<p>Secretary</p>
<p>Treasurer</p>
<p>VP</p>
<p>Historian</p>


<p style="margin-bottom: 0in; line-height: 100%">Comptroller</p>
<p style="margin-bottom: 0in; line-height: 100%">Operations</p>
<p style="margin-bottom: 0in; line-height: 100%">Supply Chain Manager</p>
<h3 class="western">Meeting Agenda Topics:</h3>
<p style="margin-bottom: 0in; line-height: 100%">General Positions</p>
<p style="margin-bottom: 0in; line-height: 100%">Implementation</p>
<p style="margin-bottom: 0in; line-height: 100%">Final Picture</p>
<p style="margin-bottom: 0in; line-height: 100%">Suppliers/Producers</p>
<p style="margin-bottom: 0in; line-height: 100%">Retail/Sales</p>
<p style="margin-bottom: 0in; line-height: 100%">Operations&amp;Management</p>
<p>Parlimentarian</p>
<p>Recruit_retain_director</p>
<p>Marketing_pr</p>
<p>community_serv_dir</p>
<p style="margin-bottom: 0in; line-height: 100%">Type of
business<br/>
Branding</p>
<p style="margin-bottom: 0in; line-height: 100%">Markets</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Valued Roles (needed):</h3>
<p style="margin-bottom: 0in; line-height: 100%">Treasurer, Secretary, President, Vice President, Land owner</p>
<p style="margin-bottom: 0in; line-height: 100%">Gardener</p>
<p style="margin-bottom: 0in; line-height: 100%">Engineer</p>
<p style="margin-bottom: 0in; line-height: 100%">Baker</p>
<p style="margin-bottom: 0in; line-height: 100%">Driver</p>
<p style="margin-bottom: 0in; line-height: 100%">Accountant</p>
<p style="margin-bottom: 0in; line-height: 100%">Marketing</p>
<p style="margin-bottom: 0in; line-height: 100%">Sales</p>
<p style="margin-bottom: 0in; line-height: 100%">Retail</p>
<p style="margin-bottom: 0in; line-height: 100%">Janitor</p>
<p style="margin-bottom: 0in; line-height: 100%">Payroll Assistant</p>
</br>
</br>
</br>
</br>

<p style="margin-bottom: 0in; line-height: 100%">different potencies for baked goods</p>
<p style="margin-bottom: 0in; line-height: 100%">place special custom orders for events</p>
<p style="margin-bottom: 0in; line-height: 100%">chocolate</p>
<p style="margin-bottom: 0in; line-height: 100%">lollipop(resale)</p>
<p style="margin-bottom: 0in; line-height: 100%">brownies</p>
<p style="margin-bottom: 0in; line-height: 100%">Gummy bears(rose gummy bears)</p>
<p style="margin-bottom: 0in; line-height: 100%">sour strings (we want, but we dont know how to make)</p>
<p style="margin-bottom: 0in; line-height: 100%">cookies</p>
<p style="margin-bottom: 0in; line-height: 100%">Muffins</p>
<p style="margin-bottom: 0in; line-height: 100%">cupcakes</p>
<p style="margin-bottom: 0in; line-height: 100%">membership (points and assortments)</p>
<p style="margin-bottom: 0in; line-height: 100%">contest (positively oriented)</p>
<p style="margin-bottom: 0in; line-height: 100%">lipstick taffy</p>
<p style="margin-bottom: 0in; line-height: 100%">Sexily named products</p>
<p style="margin-bottom: 0in; line-height: 100%">Spray bottle(for women)</p>
<p style="margin-bottom: 0in; line-height: 100%">Hard candy -s you hard</p>
<p style="margin-bottom: 0in; line-height: 100%"></p>
<p style="margin-bottom: 0in; line-height: 100%"></p>
<p style="margin-bottom: 0in; line-height: 100%"></p>
<p style="margin-bottom: 0in; line-height: 100%"></p>
<p style="margin-bottom: 0in; line-height: 100%"></p>


</body>
</html>
