<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title></title>
        <meta name="generator" content="LibreOffice 5.1.6.2 (Linux)" />
        <meta name="created" content="2017-11-13T11:12:45.018498137" />
        <meta name="changed" content="2017-11-13T11:54:37.760256236" />
        <style type="text/css">
            @page {
                margin: 0.79in
            }

            p {
                margin-bottom: 0.1in;
                line-height: 120%
            }
        </style>
    </head>

    <body lang="en-US" dir="ltr">
      <br>
      <br>
        <p align="center" style="margin-bottom: 0in; line-height: 100%">
            <font size="7" style="font-size: 32pt">TechIT produced sister sites</font>
        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

          <%= link_to "Computer Repair to Web Dev - TechIT", welcome_index_path %> <br>
          <%= link_to "A Farming endeavour with Anand", welcome_grow_path %> <br>
          <%= link_to "Learn Music with Anand!", welcome_musicClasses_path %> <br>
          <%= link_to "A ticket handeling system", welcome_ticket_handeling_path %> <br>
          <%= link_to "West Indian Puns", welcome_WIPuns_path %> <br>
          <%= link_to "AmbotAutomation: All-In-One Control Panel Development, Producction & Installation Shop", "https://ambotcom.herokuapp.com/" %> <br>
          <%= link_to "Nachle with Yashs Didi Dance School", "http://nwydds.herokuapp.com/" %> <br>
          <%= link_to "Investment management with Anand", welcome_invest_path %> <br>
          <%= link_to "Get a loan from Anand", welcome_loan_path %> <br>
          <%= link_to "Vedabrat Anand Etwaru's resume", "../AnandEtwaruwebdev.pdf" %> <br>
          <%= link_to "The Factory Proposal", "../factory_contract.pdf" %> <br>
          <%= link_to "NJMJ", welcome_njmj_path %> <br>
          <%= link_to "JerzJane", welcome_njmj_path %> <br>




          <br>
          Affiliates
          <br>
          <%= link_to "Jack Bakes - A bakery in NYC", "http://www.jackbakes.com/" %> <br>



          <%= link_to "Anands Private blog", "http://theemptybarrel.tumblr.com/" %> <br>
          <%= link_to "Anands Idea Scrawl", welcome_ideas_path %> <br>

          Help keep momentum on Anand's projects going! Donate a cup of coffee/more!<br>

          <%= link_to "coffee", charges_coffee_path %>,
          <%= link_to "food", charges_food_path %>,
          <%= link_to "gas", charges_gas_path %>,
          <%= link_to "room", charges_room_path %>,
          <%= link_to "repair", charges_repair_path %>
          <br/>
          <br/>
            Take a stake in profitable ventures.
        </p>
    </body>

</html>
