<h1>A listing of the DarkWeb</h1>
<p>updated last on Feb 3, 2018</p>

<%= link_to "Cocaine Page 1", dwp_cocaine1_path %>
<br />
<%= link_to "Cocaine Page 2", dwp_cocaine2_path %>
<br />
<%= link_to "Cocaine Page 3", dwp_cocaine3_path %>
<br />
<%= link_to "Heroin Page 1", dwp_heroin1_path %>
<br />
<%= link_to "Heroin Page 2", dwp_heroin2_path %>
<br />
<%= link_to "Ketamine  Page 1", dwp_ketamine1_path %>
<br />
<%= link_to "Lsd Page 1", dwp_lsd1_path %>
<br />
<%= link_to "Lsd Page 2", dwp_lsd2_path %>
<br />
<%= link_to "MDMA Page 1", dwp_mdma1_path %>
<br />
<%= link_to "MDMA Page 2", dwp_mdma2_path %>
<br />
<%= link_to "Meth Page 1", dwp_meth1_path %>
<br />
<%= link_to "Meth Page 2", dwp_meth2_path %>
<br />
<%= link_to "Misc Page 1", dwp_misc1_path %>
<br />
<%= link_to "Shrooms Page 1", dwp_shrooms1_path %>
<br />
<%= link_to "Shrooms Page 2", dwp_shrooms2_path %>
<br />
<%= link_to "Weed Page 1", dwp_weed_path %>
<br />
<%= link_to "Weed Page 2", dwp_weed3_path %>
<br />
<%= link_to "Weed Page 3", dwp_weed1_path %>
<br />
<%= link_to "Weed Page 4", dwp_weed2_path %>
<br />
<%= link_to "Weed Page 5", dwp_weed4_path %>
